@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Yusei+Magic&display=swap');

* {
    background-color: black;
    margin: 0;
    padding: 0;
}

a {
 text-decoration: none;
 color: white;
}

.header {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid white;
}

.logo {
    flex-grow: 1    ;
    margin-left: 2%;
    font-size: 3rem;
}

.logo:hover {
    
}

.main {
    height: 110vh;
    background: url("https://i.pinimg.com/originals/00/1b/d3/001bd3aad7bf9b403d470041980ae598.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}


.footer {
    width: 100%;
    height: 60px;
    background-color: blue;
}

.lodrina-solid {
    font-family: 'Londrina Solid', cursive;
}

.anim {
    font-size: 1.5rem;
    transition: font-size 0.3s ease-in;
}

.anim:hover {
    font-size: 2rem;
}

.menu {
    display: flex;
    font-size: 1.5rem;
    margin-right: 2%;
}

.flex {
    display: flex;
}

.divider {
    background-color: white;
    border: 1px solid white;
    margin-left: 7px;
    margin-right: 7px;
}

.name {
    color: white;
    font-size: 5rem;
    display: block;
    flex-grow: 1;
}

.position {
    color: white;
    font-size: 5rem;
    display: block;
}

.sub-main {
    border-top: 1px solid white;
    height: 110vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.project {
    border-radius: 10%;
    background: white;
    width: 27%;
    height: 28%;
}

.text {
    padding: 4% 8% 0 8%;
}

.footer {
    text-align: center;
    background: black;
}

.footer-text {
    color: white;
}

@media screen and (max-width: 900px) {

}
